@model CollegeWebsiteAdmin.Models.PagesInfo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PagesInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                Html.RenderPartial("PartialForm");
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
